@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
  --main-bg-color: #f6f8fa;
}

html,
body,
#root {
  font-family: 'Poppins', sans-serif;
  background: var(--main-bg-color);
  height: 100%;
  width: 100%;
}

*:focus {
  box-shadow: none !important;
  outline: 0 !important;
}

/* ----------------- LOGIN SCREEN ------------------ */

.login {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-overlay {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
}

.login-container {
  background-color: #fff;
  padding: 40px 25px;
  line-height: 1.5;
  width: 25rem;
  z-index: 1;
  border-radius: 10px;
}

.login-img-container {
  width: 100%;
  text-align: center;
  padding: 0px 10px 30px 10px;
}

.login-container img {
  width: 50%;
}

.login-container input {
  background: #f5f5f5;
  border: none;
  border-radius: 10px;
}

.login-container input:focus {
  border: 1px solid #dfdfdf;
}

.login .btn {
  width: 100%;
  border-radius: 0;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  padding: 10px;
}

.login-options {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.login-options span {
  font-weight: 200;
}

.login-options a {
  color: #505050;
  text-decoration: none;
}

.login-options a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #505050;
}

/* ---------------------------------------------------- */
/*
 * Sidebar
 */

.sidebar {
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  padding: 50px 0;
  position: fixed;
  text-align: center;
  background: white !important;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar .logo {
  max-height: 250px;
  min-height: 200px;
}

.sidebar hr {
  border-top: 1px solid #e5e5e5;
  width: 80%;
}

.sidebar ul {
  padding: 0 30px;
  margin-top: 15px;
}

.sidebar ul li {
  font-weight: 900;
  margin: 10px 0px;
  padding: 0.5rem 1rem 0.5rem 3.5rem;
  text-align: left;
}

.sidebar ul li i {
  margin: 0 10px;
}

.sidebar ul a:hover {
  text-decoration: none;
}

/* ---------------------------------------------------- */
/*
 * Dashboard
 */

.dash-container {
  margin-left: 19rem;
  text-align: center;
  height: 100%;
  max-width: 100%;
  position: relative;
}

.dash-cover-container {
  height: 45rem;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.dash-cover-overlay {
  height: 45rem;
}


/* .dash-card {
  background-color: #fff;
  padding: 40px 25px;
  line-height: 1.5;
  width: 85%;
  z-index: 1;
  border-radius: 10px;
  margin: 0px auto;
  height: 70%;
} */

/* ---------------------------------------------------- */
/*
 * Card
 */

.card-container {
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.card-content-container {
  margin: 0rem 3rem;
  height: 45rem;
  background-color: #fff;
  border-radius: 10px;
}

.card-content {
  margin: 0rem auto;
  padding: 3rem 5rem;
}

.card-content h1 {
  color: #88D0EE;
}

.card-content hr {
  border-top: 1px solid #e5e5e5;
  width: 15rem;
  margin: 3rem auto;
}

.status {
  background-color: #8889EE;
  color: white;
  margin: 2rem auto;
  padding: 10px;
  border-radius: 100px;
  width: 20rem;
}